__pycache__
*.pyc
*.pyo
*.pyd
.Python
build
develop-eggs
dist
downloads
eggs
.eggs
lib
.libs
parts
sdist
var
*.log
*.sql
*.sqlite
*.swp
*.bak
*.tmp
*.py~
*.db
*.db-journal
*.sh~
*.swp
.DS_Store
*.so
.cache
.coverage
.tox
htmlcov
*.whl
.venv
.git
.vscode
*.md
*.mp4